<form class="container" [formGroup]="_orderForm" (ngSubmit)="_onFormSubmit()">
  <header>
    <h1>Fai il tuo ordine</h1>
  </header>
  <div class="container__row--centered">
    <mat-form-field>
      <mat-label>N. tavolo </mat-label>
      <input type="number" autocomplete="off" matInput placeholder="Tavolo n. .." min="1" formControlName="tableNumber">
      <mat-error class="mat-error__maxwidth" *ngIf="_orderForm.get('tableNumber')?.hasError('required')">
        Campo obbligatorio
      </mat-error>
      <mat-error class="mat-error__maxwidth" *ngIf="_orderForm.get('tableNumber')?.hasError('min')">
        Numero non valido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>N. hamburgers</mat-label>
      <input type="number" autocomplete="off" matInput placeholder="Quanti hamburger?" min="1"
        formControlName="quantity">
      <mat-error class="mat-error__maxwidth" *ngIf="_orderForm.get('quantity')?.hasError('required')">
        Campo obbligatorio
      </mat-error>
      <mat-error class="mat-error__maxwidth" *ngIf="_orderForm.get('quantity')?.hasError('min')">
        Numero non valido
      </mat-error>
    </mat-form-field>
  </div>
  <ng-container formArrayName="burgers">
    <ng-container *ngFor="let burgerForm of _burgersFormArray?.controls;let index = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Hamburger n. {{index + 1}}</mat-card-title>
          <mat-card-subtitle>Componi il tuo burger</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ng-container [formGroupName]="index">
            <div class="container__row">
              <mat-form-field>
                <mat-label>Tipo di pane</mat-label>
                <mat-select formControlName="bread">
                  <ng-container *ngFor="let val of _breads">
                    <mat-option [value]="val">{{ val }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error class="mat-error__maxwidth" *ngIf="burgerForm.get('bread')?.hasError('required')">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Hamburger</mat-label>
                <mat-select formControlName="meat">
                  <ng-container *ngFor="let val of _meats">
                    <mat-option [value]="val">{{ val }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error class="mat-error__maxwidth" *ngIf="burgerForm.get('meat')?.hasError('required')">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Ingredienti</mat-label>
                <mat-select multiple formControlName="ingredients">
                  <ng-container *ngFor="let val of _ingredients">
                    <mat-option [value]="val">{{ val }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-slide-toggle *ngIf="_checkRare(burgerForm)" style="display:flex" formControlName="mediumRare">Cottura
                al
                sangue</mat-slide-toggle>
            </div>
            <mat-form-field class="container__row--fullwidth">
              <textarea formControlName="note" matInput placeholder="Inserisci le note..."></textarea>
              <mat-error class="mat-error__maxwidth" *ngIf="burgerForm.get('note')?.hasError('maxlength')">
                Note troppo lunghe
              </mat-error>
            </mat-form-field>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
  <button class="container__button" mat-flat-button color="primary">Invia</button>
</form>