// Materials customization
mat-form-field {
  padding: 4px;
  flex: 1 1 auto;
}
mat-card {
  margin: 4px;
  max-width: 100%;
}
mat-slide-toggle {
  display: flex;
}
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
}
.mat-error__maxwidth {
  width: 200%;
}

// Page styles
header {
  margin: auto;
  > h1 {
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 95%;
  margin: auto;
  padding-top: 5vh;
}
.container__row {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.container__row--fullwidth {
  flex: 1;
  max-width: 100%;
}
.container__row--centered {
  @extend .container__row;
  align-self: center;
}
.container__button {
  align-self: stretch;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
}
